.placement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 77vh;
    padding: 0rem 2rem 2rem 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header> h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    padding: 0 2rem;
}

.p-scroll {
    width: 100%;
    margin: 0;
}

.place-box {
    background: #f9f9fa;
    box-shadow: 6px 6px 6px 6px rgba(6, 8, 11, 0.42);
    border-radius: 10px;
    width: 160px;
    height: 160px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    transition: 300ms ease-in-out;
}

.place-box:hover {
    transform: scale(1.1);
} 

.place-box>img {
    margin-top: 2rem;
    transform: scale(3);
    height: 50px;
}

.place-box h3 {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.marquee {
    padding: 3rem 0;
}